.loader-wrapper {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vw;
}

.spinner {
    aspect-ratio: 1 1;
    width: 5vw;
    height: 5vw;
    border: 1em solid black;
    border-top: 1em solid var(--blue-700);
    border-radius: 50%;
    margin-bottom: 1vw;
    animation: spin 1.5s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }

}
