.start-analyse-button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 8vh;
    width: 300px;
    margin-top: 2vw;
    font-weight: 500;
    font-size: 1.5em;
    color: white;
    background-color: var(--blue-700);
    transition: 0.01s;
}

.start-analyse-button:active {
    background-color: var(--gray-700);
    transition: 0.01s;
}
